{block content}
 <div class="container body">
      <div class="main_container">
      {include ../menu.latte}
       <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Informace o kurzu<small> </small></h3>
              </div>

            </div>
            
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>{$kurz->nazev} | {$kurz->zacatek_kurzu|date:'d.m. Y'} - {$kurz->konec_kurzu|date:'d.m. Y'}</h2>

                    <div class="clearfix"></div>
                  </div>

                  <div class="x_content">

                    <div class="col-md-9 col-sm-9 col-xs-12">

                      <ul class="stats-overview">
                        <li>
                          <span class="name"> Počet přihlášených lidí </span>
                          <span class="value text-success"> {$presenter->getPocetLidi($kurz->beh_id)} </span>
                        </li>
                        <li>
                          <span class="name"> Počet míst </span>
                          <span class="value text-success"> {$kurz->pocet_mist} </span>
                        </li>
                        <li class="hidden-phone">
                          <span class="name"> Stav </span>
                          <span class="value text-success"> {if $kurz->konec_kurzu < $now}
                                                            Kurz byl ukončen
                                                            {else}
                                                            Kurz stále probíhá
                                                            {/if}
                           </span>
                        </li>
                      </ul>
                      <br />


<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2> Informace o kurzu <small>po kliknutí na tlačítko na levé straně se obrazí informace</small></h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <div class="col-xs-3">
                      <!-- required for floating -->
                      <!-- Nav tabs -->
                      <ul class="nav nav-tabs tabs-left">
                        <li class="active"><a href="#home" data-toggle="tab">Popis</a>
                        </li>
                        <li><a href="#sylab" data-toggle="tab">Sylab</a>
                        </li>
                        <li><a href="#cilpredmet" data-toggle="tab">Cíl předmětu</a>
                        </li>
                        <li><a href="#obsah" data-toggle="tab">Obsah předmětu</a>
                        </li>
                        <li><a href="#garanti" data-toggle="tab">Garanti</a>
                        </li>
                        <li><a href="#literatura" data-toggle="tab">Literatura</a>
                        </li>
                        <li><a href="#pozadavky" data-toggle="tab">Požadavky na studenta</a>
                        </li>
                      </ul>
                    </div>

                    <div class="col-xs-9">
                      <!-- Tab panes -->
                      <div class="tab-content">
                        <div class="tab-pane active" id="home">
                          <p class="lead">Popis</p>
                          {$kurz->popis|noescape}
                        </div>
                        <div class="tab-pane" id="sylab">
                        <p class="lead">Sylab</p>
                          {$kurz->sylab_popis|noescape}
                        </div>
                        <div class="tab-pane" id="cilpredmet">
                          <p class="lead">Cíl předmětu</p>
                          {$kurz->cil_predmetu|noescape}
                        </div>
                        <div class="tab-pane" id="obsah">
                          <p class="lead">Obsah předmětu</p>
                          {$kurz->obsah|noescape}
                        </div>
                        <div class="tab-pane" id="garanti">
                          <p class="lead">Garanti</p>
                          {$kurz->garanti_vyucujici_popis|noescape}
                        </div>
                        <div class="tab-pane" id="literatura">
                          <p class="lead">Literatura</p>
                          {$kurz->literatura|noescape}
                        </div>
                        <div class="tab-pane" id="pozadavky">
                          <p class="lead">Požadavky na studenta</p>
                          {$kurz->pozadavky_na_studenta|noescape}
                        </div>
                      </div>
                    </div>

                    <div class="clearfix"></div>

                  </div>
                </div>
              </div>

</div>


                    </div>

                    <!-- start project-detail sidebar -->
                    <div class="col-md-3 col-sm-3 col-xs-12">

                      <section class="panel">

                        <div class="x_title">
                          <h2>Základní informace o kurzu</h2>
                          <div class="clearfix"></div>
                        </div>
                        <div class="panel-body">
                          <div class="project_detail">
                          <h5>Zkratka pracoviště </h5><p>{$kurz->pracoviste_zkratka}</p><br>
                          <h5>Rozsah hodin </h5><p>{$kurz->rozsah_hodin}</p><br>
                          <h5>Zakončení kurzu </h5><p>{$kurz->zakonceni_kurzu}</p><br>
                          <h5>Vyučovací metoda </h5><p>{$kurz->vyucovaci_metoda}</p><br>
                          
                          <h5>Lektor/Lektoři kurzu</h5>
                            <p>Deveint Inc</p>
                            <br>
                            <h5>Lektor/Lektoři kurzu</h5>
                            <p>Deveint Inc</p>
                            <br>
                       <h5>Kártký popis</h5>
                          {$kurz->kratky_popis}
                          <br>
                          
                            
                          </div>

                          <br />
                        
                        </div>

                      </section>

                    </div>
                    <!-- end project-detail sidebar -->

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
{include ../footer.latte}
      </div>
    </div>


    <!-- jQuery -->
    <script src="{$basePath}/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="{$basePath}/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="{$basePath}/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="{$basePath}/vendors/nprogress/nprogress.js"></script>
    <!-- iCheck -->
    <script src="{$basePath}/vendors/iCheck/icheck.min.js"></script>
    <!-- Datatables -->
    <script src="{$basePath}/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="{$basePath}/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="{$basePath}/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="{$basePath}/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="{$basePath}/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="{$basePath}/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="{$basePath}/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="{$basePath}/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="{$basePath}/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="{$basePath}/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="{$basePath}/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="{$basePath}/vendors/datatables.net-scroller/js/datatables.scroller.min.js"></script>
    <script src="{$basePath}/vendors/jszip/dist/jszip.min.js"></script>
    <script src="{$basePath}/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="{$basePath}/vendors/pdfmake/build/vfs_fonts.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="{$basePath}/build/js/custom.js"></script>

    <!-- Datatables -->
    <script>
      jQuery(document).ready(function( $ ) {
        var handleDataTableButtons = function() {
          if ($("#datatable-buttons").length) {
            $("#datatable-buttons").DataTable({
              dom: "Bfrtip",
              buttons: [
                {
                  extend: "copy",
                  className: "btn-sm"
                },
                {
                  extend: "csv",
                  className: "btn-sm"
                },
                {
                  extend: "excel",
                  className: "btn-sm"
                },
                {
                  extend: "pdfHtml5",
                  className: "btn-sm"
                },
                {
                  extend: "print",
                  className: "btn-sm"
                },
              ],
              responsive: true
            });
          }
        };

        TableManageButtons = function() {
          "use strict";
          return {
            init: function() {
              handleDataTableButtons();
            }
          };
        }();

        $('#datatable').dataTable();

        $('#datatable-keytable').DataTable({
          keys: true
        });

        $('#datatable-responsive').DataTable();

        $('#datatable-scroller').DataTable({
          ajax: "js/datatables/json/scroller-demo.json",
          deferRender: true,
          scrollY: 380,
          scrollCollapse: true,
          scroller: true
        });

        $('#datatable-fixed-header').DataTable({
          fixedHeader: true
        });

        var $datatable = $('#datatable-checkbox');

        $datatable.dataTable({
          'order': [[ 1, 'asc' ]],
          'columnDefs': [
            { orderable: false, targets: [0] }
          ]
        });
        $datatable.on('draw.dt', function() {
          $('input').iCheck({
            checkboxClass: 'icheckbox_flat-green'
          });
        });

        TableManageButtons.init();
      });
    </script>
    <!-- /Datatables -->

{/block}



{block head}
{include parent}
    <!-- Bootstrap -->
    <link href="{$basePath}/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{$basePath}/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="{$basePath}/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="{$basePath}/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- Datatables -->
    <link href="{$basePath}/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="{$basePath}/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="{$basePath}/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="{$basePath}/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="{$basePath}/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="{$basePath}/build/css/custom.min.css" rel="stylesheet">


{/block}
