{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{ifset title}{include title|stripHtml} | {/ifset}Ostravská univerzita</title>
	<link rel="icon" type="image/png" href="{$basePath}/favicon.png" />



	{block head}
	{/block}
</head>



<body{ifCurrent Sign:in} class="login"{/ifCurrent} {ifCurrent Sign:out} class="login"{/ifCurrent} {ifCurrent Homepage:default} class="nav-md"{/ifCurrent} {ifCurrent User:*} class="nav-md"{/ifCurrent} {ifCurrent Lokace:*} class="nav-md"{/ifCurrent} {ifCurrent Sablony:*} class="nav-md"{/ifCurrent} {ifCurrent Calendar:*} class="nav-md"{/ifCurrent} {ifCurrent Beh:*} class="nav-md"{/ifCurrent} {ifCurrent Profil:*} class="nav-md"{/ifCurrent}  {ifCurrent Certificate:default} class="nav-md"{/ifCurrent} {ifCurrent Hodiny:*} class="nav-md"{/ifCurrent} {ifCurrent Lektor:*} class="nav-md"{/ifCurrent}>


	{include content}

	{block scripts}

	{/block}

</body>
</html>
