
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="{$basePath}" class="site_title"><img src="{$basePath}/images/osu-logo-modre.png" width="100%" style="max-width: 44px;"> <span>Ostravská univerzita</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile">
              <div class="profile_pic">
              <img n:img="profile/$presenter->getProfileImage(), 100x100, exact" class="img-circle profile_img">
               
              </div>
              <div class="profile_info">
                <span>Vítejte,</span>
                <h2>{$user->getIdentity()->jmeno} {$user->getIdentity()->prijmeni}</h2>
                <p>({$user->getIdentity()->role})</p>
              </div>
            </div>
            <!-- /menu profile quick info -->


            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>&nbsp;</h3>
                <ul class="nav side-menu">




               	{if $user->isAllowed('Homepage')}
                 <li><a href="{$basePath}/"><i class="fa fa-home"></i> Nástěnka <span class="label label-success pull-right">Verze 0.6</span></a></li>
                 {/if}

                 {if $user->isAllowed('Hodiny')}
                 <li><a href="{$basePath}/hodiny/"><i class="fa fa-graduation-cap"></i> Kurzy</a></li>
                 {/if}
                  
                 {if $user->isAllowed('Sablony')}
                 <li><a><i class="fa fa-list-alt"></i>Šablony <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{$basePath}/sablony/">Zobrazit šablony kurzů</a></li>
                      <li><a href="{$basePath}/sablony/pridat/">Vytvořit šablonu kurzu</a></li>
                    </ul>
                  </li>
                  {/if}

                  {if $user->isAllowed('Beh')}
                  <li><a><i class="fa fa-repeat"></i>Kurzy <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{$basePath}/beh/pridat/">Spustit nový kurz</a></li>
                      <li><a href="{$basePath}/beh/">Zobrazit kurzy</a></li>
                      <li><a href="{$basePath}/beh/ukoncene/">Ukončené kurzy</a></li>
                    </ul>
                  </li>
                  {/if}

                  {if $user->isAllowed('User')}
                  <li><a><i class="fa fa-child"></i>Uživatelé <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{$basePath}/user/">Zobrazit uživatele</a></li>
                      <li><a href="{$basePath}/user/pridat/">Přidat uživatele</a></li>
                      <li><a href="{$basePath}/user/schvalit/">Schvalování uživatelů</a></li>
                    </ul>
                  </li>
                  {/if}

                  {if $presenter->jeNekdeLektor()}
                  <li><a href="{$basePath}/lektor/"><i class="fa fa-book"></i> Lektor</a></li>
                  {/if}

                  <li><a href="{$basePath}/certificate/"><i class="fa fa-certificate"></i> Certifikáty</a></li>



                  <li><a href="{$basePath}/calendar/"><i class="fa fa-home"></i> Kalendář</a></li>
                  {if $user->isAllowed('Lokace')}
                  <li><a><i class="fa fa-university"></i>Učebny <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{$basePath}/lokace/">Zobrazit učebny</a></li>
                      <li><a href="{$basePath}/lokace/pridat/">Přidat učebny</a></li>
                    </ul>
                  </li>
                  {/if}

                </ul>
              </div>


            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">

              <a data-toggle="tooltip" href="{$basePath}/odhlasit" data-placement="top" title="Odhlásit se">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>


              <ul class="nav navbar-nav navbar-right">
                

                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img n:img="profile/$presenter->getProfileImage(), 50x50, fill">{$user->getIdentity()->jmeno} {$user->getIdentity()->prijmeni}
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="{$basePath}/profil"> Profil</a></li>
                    <li><a href="{$basePath}/odhlasit"><i class="fa fa-sign-out pull-right"></i> Odhlásit se</a></li>
                  </ul>
                </li>


                <li class="">
                  <a href="" class="user-profile">
                    <span class=" fa fa-money"></span> Stav Konta: {$presenter->getUzivatelInfo()->stav_konta},- Kč
                    
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="{$basePath}/profil"> Profil</a></li>
                    <li><a href="{$basePath}/odhlasit"><i class="fa fa-sign-out pull-right"></i> Odhlásit se</a></li>
                  </ul>
                </li>

              </ul>
            </nav>
          </div>
        </div>

        