{block content}
 <div class="container body">
      <div class="main_container">
      {include ../menu.latte}



        <!-- page content -->
        <div class="right_col" role="main" style="min-height: 923px;">
        <h1 n:block="title">Nástěnka</h1>
       {if $presenter->getUzivatelInfo()->role == "Administrátor"}
          <!-- top tiles -->
          <div class="row tile_count">
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> Celkem uživatelů</span>
              <div class="count">{$pocetUzivatelu}</div>
              
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-clock-o"></i> Čekající na shválení</span>
              <div class="count">{$pocetUzivateluSchvalit}</div>
              
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> Celkem aktivních kurzů</span>
              <div class="count green">{$pocetAktivnichBehu}</div>
              
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> Vygenerovaných certifikátů</span>
              <div class="count">{$pocetVygenerovanychCertifikatu}</div>
              
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> Celkem učeben</span>
              <div class="count">{$pocetLokaci}</div>
              
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> Počet šablon pro kurzy</span>
              <div class="count">{$pocetSablon}</div>
              
            </div>
          </div>
          <!-- /top tiles -->
{else}

<div class="row">

              <div class="col-md-12 col-sm-12 col-xs-12">
              <div n:foreach="$flashes as $flash" n:class="flash, $flash->type"><i class="fa fa-info-circle"></i> {$flash->message}</div>
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Výpis kurzů kde jste zapsáni <small></small></h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <table id="datatable-buttons-2" class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th>ID Kurzu</th>
                          <th>Název kurzu</th>
                          <th>ROK</th>
                          <th>Semestr</th>
                          <th>Období</th>
                          <th>Obsazenost</th>
                          <th>Částka</th>
                          <th>Akce</th>
                        </tr>
                      </thead>
                      <tbody>
                      {foreach $behy as $b}
                      {foreach $zapsano as $z}
                      {if !$presenter->jeLektor($b->beh_id)}
                      {if $b->beh_id == $z->beh_beh_id}

                          <tr>
                            <td>{$b->beh_id}</td>
                            <td>{$b->nazev}</td>                          
                            <td>{$b->rok}</td>
                            <td>{$b->semestr}</td>
                            <td>{$b->zacatek_kurzu|date:'d.m. Y'} - {$b->konec_kurzu|date:'d.m. Y'}</td>
                            <td>{$presenter->getPocetLidi($b->beh_id)}/{$b->pocet_mist}</td>
                            <td>{$b->castka}</td>
                            <td>
                              {if !$presenter->jePrihlasen($b->beh_id)}
                                {if $presenter->getPocetLidi($b->beh_id) < $b->pocet_mist}
                                {if $presenter->getUzivatelInfo()->stav_konta < $b->castka}
                                Nedostatečný kredit
                                {else}
                                <a n:href="prihlasitSe! $b->beh_id" class="btn btn-success btn-xs">Přihlásit se</a>
                                {/if} 
                                {else}
                                <a href="#" class="btn btn-danger disabled btn-xs">OBSAZENO</a> 
                                {/if}
                              {else}

                                {if $b->zacatek_kurzu <= $now}
                                <a href="" class="btn btn-info btn-xs disabled">Kurz již začal, nelze se odhlásit</a>
                                {else}
                                <a n:href="odhlasitSe! $b->beh_id" class="btn btn-warning btn-xs">Odhlásit se</a>
                                {/if}
                               
                              {/if} 
                            | <a n:href="Hodiny:informace $b->beh_id" class="btn btn-info btn-xs">Zobrazit informace</a></td>
                          </tr>
                        {/if} 
                        {/if}
                        {/foreach}
                        {/foreach}
                       
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>


</div>

{/if}

{if $presenter->jeNekdeLektor()}
    
    <div class="row">

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Kurzy - kde jste vyučující <small></small></h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <table id="datatable-buttons" class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th>ID Kurzu</th>
                          <th>Název kurzu</th>
                          <th>ROK</th>
                          <th>Semestr</th>
                          <th>Období</th>
                          <th>Obsazenost</th>
                          <th>Částka</th>
                          <th>Akce</th>
                        </tr>
                      </thead>
                      <tbody>
                       
                      {foreach $behy as $b}
                      {if $presenter->jeLektor($b->beh_id)}
                        <tr>
                          <td>{$b->beh_id}</td>
                          <td>{$b->nazev}</td>                          
                          <td>{$b->rok}</td>
                          <td>{$b->semestr}</td>
                          <td>{$b->zacatek_kurzu|date:'d.m. Y'} - {$b->konec_kurzu|date:'d.m. Y'}</td>
                          <td>{$presenter->getPocetLidi($b->beh_id)}/{$b->pocet_mist}</td>
                          <td>{$b->castka}</td>
                          <td>
                          <a n:href="Lektor:upravit $b->beh_id" class="btn btn-info btn-xs">Zobrazit informace</a></td>
                        </tr>
                        {/if}
                        {/foreach}
                       
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>


</div>

{/if}


<div class="row">

              <div class="col-md-4">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Poslední příhlašení <small>aktivita uživatelů</small></h2>
                    
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                        {foreach $posledniPrihlaseni as $p}
                        <article class="media event">
                        <div class="pull-left">
                        <img n:img="profile/$presenter->getImage($p->image), 50x50, exact" class="img-circle profile_img" style="margin: 0px;">
                        </div>
                        <div class="media-body">
                        <a class="title" href="#">{$p->jmeno} {$p->prijmeni}</a>
                        <p>{$presenter->getDateFormat($p->datetime)}</p>
                        </div>
                        </article>
                        {/foreach}
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Poslední registrace <small>registrace uživatelů</small></h2>
                    
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    {foreach $posledniRegistrace as $p}
                        <article class="media event">
                        <div class="pull-left">
                        <img n:img="profile/$presenter->getImage($p->image), 50x50, exact" class="img-circle profile_img" style="margin: 0px;">
                        </div>
                        
                        <div class="media-body">
                        <a class="title" href="#">{$p->jmeno} {$p->prijmeni}</a>
                        <p>{$presenter->getDateFormat($p->datetime)}</p>
                        </div>
                        </article>
                        {/foreach}
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Odhlášení uživatele <small>aktivita</small></h2>
                    
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    {foreach $posledniOdhlaseni as $p}
                        <article class="media event">
                        <div class="pull-left">
                        <img n:img="profile/$presenter->getImage($p->image), 50x50, exact" class="img-circle profile_img" style="margin: 0px;">
                        </div>
                        
                        <div class="media-body">
                        <a class="title" href="#">{$p->jmeno} {$p->prijmeni}</a>
                        <p>{$presenter->getDateFormat($p->datetime)}</p>
                        </div>
                        </article>
                        {/foreach}
                  </div>
                </div>
              </div>
            </div>
{if $presenter->getUzivatelInfo()->role == "Administrátor"}

<div class="row">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Přihlášení a odhlášení<small>Měsíčně</small></h2>
                    
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <canvas id="lineChart"></canvas>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Registrace uživatelů <small>v průběhů měsíců</small></h2>
                    
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <canvas id="canvasDoughnut"></canvas>
                  </div>
                </div>
              </div>
            </div>
{/if}


        <!-- /page content -->

      
      </div>

{include ../footer.latte}

    </div>
  </div> 
    <!-- jQuery -->
    <script src="{$basePath}/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="{$basePath}/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- NProgress -->
    <script src="{$basePath}/vendors/nprogress/nprogress.js"></script>    
    <!-- Custom Theme Scripts -->
    <script src="{$basePath}/build/js/custom.min.js"></script>
    <!-- Chart.js -->
    <script src="{$basePath}/vendors/Chart.js/dist/Chart.min.js"></script>

    <!-- Datatables -->
    <script src="{$basePath}/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="{$basePath}/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="{$basePath}/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="{$basePath}/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="{$basePath}/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="{$basePath}/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="{$basePath}/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="{$basePath}/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="{$basePath}/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="{$basePath}/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="{$basePath}/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="{$basePath}/vendors/datatables.net-scroller/js/datatables.scroller.min.js"></script>
    <script src="{$basePath}/vendors/jszip/dist/jszip.min.js"></script>
    <script src="{$basePath}/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="{$basePath}/vendors/pdfmake/build/vfs_fonts.js"></script>


   <!-- Datatables -->
    <script>
      jQuery(document).ready(function( $ ) {

        var handleDataTableButtons = function() {
          if ($("#datatable-buttons-2").length) {
            $("#datatable-buttons-2").DataTable({
              dom: "Bfrtip",
              buttons: [
                {
                  extend: "copy",
                  className: "btn-sm"
                },
                {
                  extend: "csv",
                  className: "btn-sm"
                },
                {
                  extend: "excel",
                  className: "btn-sm"
                },
                {
                  extend: "pdfHtml5",
                  className: "btn-sm"
                },
                {
                  extend: "print",
                  className: "btn-sm"
                },
              ],
                  "bLengthChange": false,
        "language": {
            "zeroRecords": "Nic nebylo nalezeno - Omlouváme se",
            "info": "Stránka _PAGE_ z _PAGES_",
            "infoEmpty": "Žádný uživatel ke schválení",
            "search":         "Vyhledávání: ",
                    "paginate": {
                      "first":      "První",
                      "last":       "Poslední",
                      "next":       "Další",
                      "previous":   "Předchozí"
                  },
            "infoFiltered": "(filtered from _MAX_ total records)"
              },
              "columnDefs": [
                  { "orderable": false, "targets": 4 }
              ],
              responsive: true
            });
          }
        };

        var handleDataTableButtons = function() {
          if ($("#datatable-buttons").length) {
            $("#datatable-buttons").DataTable({
              dom: "Bfrtip",
              buttons: [
                {
                  extend: "copy",
                  className: "btn-sm"
                },
                {
                  extend: "csv",
                  className: "btn-sm"
                },
                {
                  extend: "excel",
                  className: "btn-sm"
                },
                {
                  extend: "pdfHtml5",
                  className: "btn-sm"
                },
                {
                  extend: "print",
                  className: "btn-sm"
                },
              ],
                  "bLengthChange": false,
        "language": {
            "zeroRecords": "Nic nebylo nalezeno - Omlouváme se",
            "info": "Stránka _PAGE_ z _PAGES_",
            "infoEmpty": "Žádný uživatel ke schválení",
            "search":         "Vyhledávání: ",
                    "paginate": {
                      "first":      "První",
                      "last":       "Poslední",
                      "next":       "Další",
                      "previous":   "Předchozí"
                  },
            "infoFiltered": "(filtered from _MAX_ total records)"
              },
              "columnDefs": [
                  { "orderable": false, "targets": 4 }
              ],
              responsive: true
            });
          }
        };

        TableManageButtons = function() {
          "use strict";
          return {
            init: function() {
              handleDataTableButtons();
            }
          };
        }();

        $('#datatable').dataTable();

        $('#datatable-keytable').DataTable({
          keys: true
        });

        $('#datatable-responsive').DataTable();

        $('#datatable-scroller').DataTable({
          ajax: "js/datatables/json/scroller-demo.json",
          deferRender: true,
          scrollY: 380,
          scrollCollapse: true,
          scroller: true
        });

        $('#datatable-fixed-header').DataTable({
          fixedHeader: true
        });

        var $datatable = $('#datatable-checkbox');

        $datatable.dataTable({
          'order': [[ 1, 'asc' ]],
          'columnDefs': [
            { orderable: false, targets: [0] }
          ]
        });
        $datatable.on('draw.dt', function() {
          $('input').iCheck({
            checkboxClass: 'icheckbox_flat-green'
          });
        });

        TableManageButtons.init();
      });
    </script>
    <!-- /Datatables -->

<script>
      Chart.defaults.global.legend = {
        enabled: false
      };

      // Line chart
      var ctx = document.getElementById("lineChart");
      var lineChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: [{foreach $poslednich5Mesicu as $p}
{$presenter->getNameMonth($p->mesic)},              
{/foreach}],
          datasets: [{
            label: "Počet přihlášených uživatelů",
            backgroundColor: "rgba(38, 185, 154, 0.31)",
            borderColor: "rgba(38, 185, 154, 0.7)",
            pointBorderColor: "rgba(38, 185, 154, 0.7)",
            pointBackgroundColor: "rgba(38, 185, 154, 0.7)",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointBorderWidth: 1,
            data: [{foreach $poslednich5MesicuPocetPrihlaseni as $p}
{$p->pocet},              
{/foreach}]
          }, {
            label: "Počet odhlášených uživatelů",
            backgroundColor: "rgba(3, 88, 106, 0.3)",
            borderColor: "rgba(3, 88, 106, 0.70)",
            pointBorderColor: "rgba(3, 88, 106, 0.70)",
            pointBackgroundColor: "rgba(3, 88, 106, 0.70)",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(151,187,205,1)",
            pointBorderWidth: 1,
            data: [{foreach $poslednich5MesicuPocetOdhlaseni as $p}
{$p->pocet},              
{/foreach}]
          }]
        },
      });

// Doughnut chart
      var ctx = document.getElementById("canvasDoughnut");
      var data = {
        labels: [{foreach $poslednich5MesicuRegistrace as $p}
{$presenter->getNameMonth($p->mesic)},              
{/foreach}],
        datasets: [{
          data: [{foreach $poslednich5MesicuRegistrace as $p}
{$p->pocet},              
{/foreach}],
          backgroundColor: [
            "#455C73",
            "#9B59B6",
            "#BDC3C7",
            "#26B99A",
            "#3498DB"
          ],
          hoverBackgroundColor: [
            "#34495E",
            "#B370CF",
            "#CFD4D8",
            "#36CAAB",
            "#49A9EA"
          ]

        }]
      };

      var canvasDoughnut = new Chart(ctx, {
        type: 'doughnut',
        tooltipFillColor: "rgba(51, 51, 51, 0.55)",
        data: data
      });

      </script>


{/block}



{block head}
    <link href="{$basePath}/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{$basePath}/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="{$basePath}/vendors/nprogress/nprogress.css" rel="stylesheet">
    <link href="{$basePath}/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <link href="{$basePath}/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <link href="{$basePath}/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet"/>
    <link href="{$basePath}/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <link href="{$basePath}/build/css/custom.css" rel="stylesheet">
{/block}
