{block content}
 <div class="container body">
      <div class="main_container">
      {include ../menu.latte}
        <!-- page content -->
        <div class="right_col" role="main" style="min-height: 923px;">
        <h1 n:block="title">Vygenerované certifikáty</h1>


<div class="row">

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Výpis všech certifikátů <small>všechny uživatelé</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>

                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                      Zde jsou zobrazené veškeré vygenerovane certifikáty pro všechny uživatele. Certifikáty může generovat jen Lektor kurzu pro žáka, který splnil všechny povinosti kurzu.
                    </p>
                    <table id="datatable-buttons" class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th>ID Certifikátu</th>
                          <th>Vlastník</th>
                          <th>Název</th>
                          <th>Datum</th>
                          <th>Garanat</th>
                          <th>PDF</th>
                        </tr>
                      </thead>
                      <tbody>
                        {foreach $certifikaty as $c}
                        <tr>
                          <td>{$c->id_certifikatu}</td>
                          <td>{$c->prijmeni} {$c->jmeno}</td>                          
                          <td>{$c->hlavni_nazev}</td>
                          <td>{$c->datum}</td>
                          <td>{$c->garant|noescape}</td>
                          <td><a target="_blank" n:href="generovatPDF! $c->id_certifikatu" class="btn btn-success btn-xs">Vygenerované PDF</a></td>
                        </tr>
                        {/foreach}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>


</div>
</div>
{include ../footer.latte}
      </div>
    </div>



    <!-- jQuery -->
    <script src="{$basePath}/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="{$basePath}/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="{$basePath}/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="{$basePath}/vendors/nprogress/nprogress.js"></script>
    <!-- iCheck -->
    <script src="{$basePath}/vendors/iCheck/icheck.min.js"></script>
    <!-- Datatables -->
    <script src="{$basePath}/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="{$basePath}/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="{$basePath}/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="{$basePath}/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="{$basePath}/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="{$basePath}/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="{$basePath}/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="{$basePath}/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="{$basePath}/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="{$basePath}/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="{$basePath}/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="{$basePath}/vendors/datatables.net-scroller/js/datatables.scroller.min.js"></script>
    <script src="{$basePath}/vendors/jszip/dist/jszip.min.js"></script>
    <script src="{$basePath}/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="{$basePath}/vendors/pdfmake/build/vfs_fonts.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="{$basePath}/build/js/custom.js"></script>

   <!-- Datatables -->
    <script>
      jQuery(document).ready(function( $ ) {
        var handleDataTableButtons = function() {
          if ($("#datatable-buttons").length) {
            $("#datatable-buttons").DataTable({
              dom: "Bfrtip",
              buttons: [
                {
                  extend: "copy",
                  className: "btn-sm"
                },
                {
                  extend: "csv",
                  className: "btn-sm"
                },
                {
                  extend: "excel",
                  className: "btn-sm"
                },
                {
                  extend: "pdfHtml5",
                  className: "btn-sm"
                },
                {
                  extend: "print",
                  className: "btn-sm"
                },
              ],
                  "bLengthChange": false,
        "language": {
            "zeroRecords": "Nic nebylo nalezeno - Omlouváme se",
            "info": "Stránka _PAGE_ z _PAGES_",
            "infoEmpty": "Žádný uživatel ke schválení",
            "search":         "Vyhledávání: ",
                    "paginate": {
                      "first":      "První",
                      "last":       "Poslední",
                      "next":       "Další",
                      "previous":   "Předchozí"
                  },
            "infoFiltered": "(filtered from _MAX_ total records)"
              },
              "columnDefs": [
                  { "orderable": false, "targets": 4 }
              ],
              responsive: true
            });
          }
        };

        TableManageButtons = function() {
          "use strict";
          return {
            init: function() {
              handleDataTableButtons();
            }
          };
        }();

        $('#datatable').dataTable();

        $('#datatable-keytable').DataTable({
          keys: true
        });

        $('#datatable-responsive').DataTable();

        $('#datatable-scroller').DataTable({
          ajax: "js/datatables/json/scroller-demo.json",
          deferRender: true,
          scrollY: 380,
          scrollCollapse: true,
          scroller: true
        });

        $('#datatable-fixed-header').DataTable({
          fixedHeader: true
        });

        var $datatable = $('#datatable-checkbox');

        $datatable.dataTable({
          'order': [[ 1, 'asc' ]],
          'columnDefs': [
            { orderable: false, targets: [0] }
          ]
        });
        $datatable.on('draw.dt', function() {
          $('input').iCheck({
            checkboxClass: 'icheckbox_flat-green'
          });
        });

        TableManageButtons.init();
      });
    </script>
    <!-- /Datatables -->

{/block}



{block head}
{include parent}
    <!-- Bootstrap -->
    <link href="{$basePath}/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{$basePath}/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="{$basePath}/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="{$basePath}/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-wysiwyg -->
    <link href="{$basePath}/vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">
    <!-- Select2 -->
    <link href="{$basePath}/vendors/select2/dist/css/select2.min.css" rel="stylesheet">
    <!-- Switchery -->
    <link href="{$basePath}/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
    <!-- starrr -->
    <link href="{$basePath}/vendors/starrr/dist/starrr.css" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="{$basePath}/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="{$basePath}/build/css/custom.min.css" rel="stylesheet">

{/block}
