{block content}
 <div class="container body">
      <div class="main_container">
      {include ../menu.latte}
        <!-- page content -->
        <div class="right_col" role="main" style="min-height: 923px;">
        <h1 n:block="title">Šablony kurzů výpis</h1>


<div class="row">

              <div class="col-md-12 col-sm-12 col-xs-12">
              <div n:foreach="$flashes as $flash" n:class="flash, $flash->type"><i class="fa fa-info-circle"></i> {$flash->message}</div>
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Výpis šablon kurzů <small>pro spouštění kurzů</small></h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <table id="datatable-buttons" class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th>ID šablony</th>
                          <th>Název</th>
                          <th>Krátký popis</th>
                          <th>Pracoviště</th>
                          <th>Rozsah hodin</th>
                          <th>Zakončení kurzu</th>
                          <th>Úpravy</th>
                        </tr>
                      </thead>
                      <tbody>
                        {foreach $sablony as $s}
                        <tr>
                          <td>{$s->id_kurz}</td>
                          <td>{$s->nazev}</td>
                          <td>{$s->kratky_popis}</td>
                          <td>{$s->pracoviste_zkratka}</td>
                          <td>{$s->rozsah_hodin}</td>
                          <td>{$s->zakonceni_kurzu}</td>
                          <td><a n:href="Sablony:upravit $s->id_kurz" class="btn btn-success btn-xs">Upravit</a>| <a n:href="smazatSablonu! $s->id_kurz" class="btn btn-danger btn-xs">Smazat</a></td>
                        </tr>
                        {/foreach}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>


</div>
</div>
{include ../footer.latte}
      </div>
    </div>


    <!-- jQuery -->
    <script src="{$basePath}/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="{$basePath}/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="{$basePath}/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="{$basePath}/vendors/nprogress/nprogress.js"></script>
    <!-- iCheck -->
    <script src="{$basePath}/vendors/iCheck/icheck.min.js"></script>
    <!-- Datatables -->
    <script src="{$basePath}/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="{$basePath}/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="{$basePath}/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="{$basePath}/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="{$basePath}/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="{$basePath}/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="{$basePath}/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="{$basePath}/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="{$basePath}/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="{$basePath}/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="{$basePath}/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="{$basePath}/vendors/datatables.net-scroller/js/datatables.scroller.min.js"></script>
    <script src="{$basePath}/vendors/jszip/dist/jszip.min.js"></script>
    <script src="{$basePath}/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="{$basePath}/vendors/pdfmake/build/vfs_fonts.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="{$basePath}/build/js/custom.js"></script>

    <!-- Datatables -->
    <script>
      jQuery(document).ready(function( $ ) {
        var handleDataTableButtons = function() {
          if ($("#datatable-buttons").length) {
            $("#datatable-buttons").DataTable({
              dom: "Bfrtip",
              buttons: [
                {
                  extend: "copy",
                  exportOptions: {
                      columns: [ 0, 1, 2, 3, 4, 5 ]
                  },
                  className: "btn-sm"
                },
                {
                  extend: "csv",
                  exportOptions: {
                      columns: [ 0, 1, 2, 3, 4, 5 ]
                  },
                  className: "btn-sm"
                },
                {
                  extend: "excel",
                  exportOptions: {
                      columns: [ 0, 1, 2, 3, 4, 5 ]
                  },
                  className: "btn-sm"
                },
                {
                  extend: "pdfHtml5",
                  exportOptions: {
                      columns: [ 0, 1, 2, 3, 4, 5 ]
                  },
                  className: "btn-sm"
                },
                {
                  extend: "print",
                  exportOptions: {
                      columns: [ 0, 1, 2, 3, 4, 5 ]
                  },
                  className: "btn-sm"
                  
                },
              ],
                  "bLengthChange": false,
        "language": {
            "zeroRecords": "Nic nebylo nalezeno - Omlouváme se",
            "info": "Stránka _PAGE_ z _PAGES_",
            "infoEmpty": "Zatím nic nebylo přidáno",
            "search":         "Vyhledávání:",
                    "paginate": {
                      "first":      "První",
                      "last":       "Poslední",
                      "next":       "Další",
                      "previous":   "Předchozí"
                  },
            "infoFiltered": "(filtered from _MAX_ total records)"
              },
              "columnDefs": [
                  { "orderable": false, "targets": 6 }
              ],
              responsive: true
            });
          }
        };

        TableManageButtons = function() {
          "use strict";
          return {
            init: function() {
              handleDataTableButtons();
            }
          };
        }();

        $('#datatable').dataTable();

        $('#datatable-keytable').DataTable({
          keys: true
        });

        $('#datatable-responsive').DataTable();

        $('#datatable-scroller').DataTable({
          ajax: "js/datatables/json/scroller-demo.json",
          deferRender: true,
          scrollY: 380,
          scrollCollapse: true,
          scroller: true
        });



        $('#datatable-fixed-header').DataTable({
          fixedHeader: true
        });

        var $datatable = $('#datatable-checkbox');

        $datatable.dataTable({
          'order': [[ 1, 'asc' ]],
          'columnDefs': [
            { orderable: false, targets: [0] }
          ]
        });
        $datatable.on('draw.dt', function() {
          $('input').iCheck({
            checkboxClass: 'icheckbox_flat-green'
          });
        });

        TableManageButtons.init();
      });


    </script>
    <!-- /Datatables -->

{/block}



{block head}
{include parent}
    <!-- Bootstrap -->
    <link href="{$basePath}/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{$basePath}/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="{$basePath}/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="{$basePath}/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- Datatables -->
    <link href="{$basePath}/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="{$basePath}/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="{$basePath}/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="{$basePath}/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="{$basePath}/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="{$basePath}/build/css/custom.min.css" rel="stylesheet">


{/block}
