{block content}
 <div class="container body">
      <div class="main_container">
      {include ../menu.latte}
        <!-- page content -->
        <div class="right_col" role="main">
        <h1 n:block="title">Vytvoření šablony kurzu</h1>

<div class="row">

                  <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Formulář pro vytvoření šablony kurzu <small>vše si pečlivě zkontrolujte</small></h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br />
                   
                    {form newSablonyForm class=>"form-horizontal form-label-left"}
                      <div class="form-group">
                        {label nazev class=>"control-label col-md-3 col-sm-3 col-xs-12"}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {input nazev}<span class="fa fa-newspaper-o form-control-feedback left" aria-hidden="true"></span>
                        </div>
                      </div>

                      <div class="form-group">
                        {label pracoviste_zkratka class=>"control-label col-md-3 col-sm-3 col-xs-12"}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {input pracoviste_zkratka}<span class="fa fa-cubes form-control-feedback left" aria-hidden="true"></span>
                        </div>
                      </div>

                      <div class="form-group">
                        {label rozsah_hodin class=>"control-label col-md-3 col-sm-3 col-xs-12"}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {input rozsah_hodin}<span class="fa fa-clock-o form-control-feedback left" aria-hidden="true"></span>
                        </div>
                      </div>

                      <div class="form-group">
                        {label zakonceni_kurzu class=>"control-label col-md-3 col-sm-3 col-xs-12"}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {input zakonceni_kurzu}
                        </div>
                      </div>


                      <div class="form-group">
                        {label vyucovaci_metoda class=>"control-label col-md-3 col-sm-3 col-xs-12"}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {input vyucovaci_metoda}
                        </div>
                      </div>

                      <div class="form-group">
                        {label kratky_popis class=>"control-label col-md-3 col-sm-3 col-xs-12"}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {input kratky_popis}
                        </div>
                      </div>
                      
                      <div class="form-group">
                        {label popis class=>"control-label col-md-3 col-sm-3 col-xs-12"}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {input popis}
                        </div>
                      </div>

                      <div class="form-group">
                        {label sylab_popis class=>"control-label col-md-3 col-sm-3 col-xs-12"}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {input sylab_popis}
                        </div>
                      </div>

                      <div class="form-group">
                        {label cil_predmetu class=>"control-label col-md-3 col-sm-3 col-xs-12"}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {input cil_predmetu}
                        </div>
                      </div>

                      <div class="form-group">
                        {label obsah class=>"control-label col-md-3 col-sm-3 col-xs-12"}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {input obsah}
                        </div>
                      </div>

                      <div class="form-group">
                        {label garanti_vyucujici_popis class=>"control-label col-md-3 col-sm-3 col-xs-12"}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {input garanti_vyucujici_popis}
                        </div>
                      </div>

                      <div class="form-group">
                        {label literatura class=>"control-label col-md-3 col-sm-3 col-xs-12"}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {input literatura}
                        </div>
                      </div>


                      <div class="form-group">
                        {label pozadavky_na_studenta class=>"control-label col-md-3 col-sm-3 col-xs-12"}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {input pozadavky_na_studenta}
                        </div>
                      </div>   


                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <button type="reset" class="btn btn-primary">Vymazat</button>
                          {input pridat class=>"btn btn-success"}
                        </div>
                      </div>

                    {/form}
                  </div>
                </div>
              </div>      



</div>
</div>
{include ../footer.latte}
      </div>
    </div>

    <!-- jQuery -->
    <script src="{$basePath}/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="{$basePath}/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="{$basePath}/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="{$basePath}/vendors/nprogress/nprogress.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="{$basePath}/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="{$basePath}/vendors/iCheck/icheck.min.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="{$basePath}/vendors/moment/min/moment.min.js"></script>
    <script src="{$basePath}/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap-wysiwyg -->
    <script src="{$basePath}/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
    <script src="{$basePath}/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
    <script src="{$basePath}/vendors/google-code-prettify/src/prettify.js"></script>
    <!-- jQuery Tags Input -->
    <script src="{$basePath}/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
    <!-- Switchery -->
    <script src="{$basePath}/vendors/switchery/dist/switchery.min.js"></script>
    <!-- Select2 -->
    <script src="{$basePath}/vendors/select2/dist/js/select2.full.min.js"></script>
    <!-- Parsley -->
    <script src="{$basePath}/vendors/parsleyjs/dist/parsley.min.js"></script>
    <!-- jquery.inputmask -->
    <script src="{$basePath}/vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
    <!-- Autosize -->
    <script src="{$basePath}/vendors/autosize/dist/autosize.min.js"></script>
    <!-- jQuery autocomplete -->
    <script src="{$basePath}/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
    <!-- starrr -->
    <script src="{$basePath}/vendors/starrr/dist/starrr.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="{$basePath}/build/js/custom.min.js"></script>
    <script>
    CKEDITOR.replace( 'editor-textu' );
    </script>
    <script>
    CKEDITOR.replace( 'editor-textu2' );
    </script>
    <script>
    CKEDITOR.replace( 'editor-textu3' );
    </script>
    <script>
    CKEDITOR.replace( 'editor-textu4' );
    </script>
    <script>
    CKEDITOR.replace( 'editor-textu5' );
    </script>
    <script>
    CKEDITOR.replace( 'editor-textu6' );
    </script>
    <script>
    CKEDITOR.replace( 'editor-textu7' );
    </script>
    <!-- jquery.inputmask -->
    <script>
      $(document).ready(function() {
        $(":input").inputmask();
      });
    </script>
    <!-- /jquery.inputmask -->        

{/block}



{block head}
{include parent}
    <!-- Bootstrap -->
    <link href="{$basePath}/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{$basePath}/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="{$basePath}/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="{$basePath}/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- Datatables -->
    <link href="{$basePath}/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="{$basePath}/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="{$basePath}/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="{$basePath}/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="{$basePath}/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="{$basePath}/build/css/custom.min.css" rel="stylesheet">

    <script src="{$basePath}/ckeditor/ckeditor.js"></script>

{/block}
