
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
    </head>
    <body class="index">
<header class="header home">
<table>
	<tr>
		<td><img style="float: left;" src="http://bakalarka.festik.cz/images/osu-logo-modre.png" width="24%"></td>
		<td>
		<h1>Ostravská univerzita</h1>
		<p>Centrum informačních technologií Ostravské univerzity</p>
		<br>
		<p>
		<strong>E-mail:</strong> studium@osu.cz, info@osu.cz, podatelna@osu.cz<br>
<strong>Telefon:</strong> 597 091 111, 553 461 111
		</p>
		</td>
	</tr>

</table>
</header>

        <section class="main">
        <h2>Certifikát</h2>
        <p class="datum">{$vars['datum']|date:'j.m. Y'}</p>
        <br>
        <div class="hlavni">
        <h3>{$vars['hlavni_nazev']}</h3>
        <p class="jmeno">{$vars['jmeno']} {$vars['prijmeni']}</p>
        </div>
        <br>
        <p>Garant:</p>
        <p>{$vars['garant']|noescape}</p>


        </section>

        <footer class="footer">
<img style="float: left;" src="http://bakalarka.festik.cz/images/osu-logo-modre.png" width="5%">
<div style="padding-top: 8px;">
Ostravská univerzita, Dvořákova 7, 701 03 Ostrava
</div>
</footer>
    </body>
</html>

