
body{
	font-family: Arial;
}

td{
	color: white;
}

.header {
	padding: 15px 15px 15px 15px;
	background-color: black;
	color: white; 

}

.main{
	text-align: center;
}

.podpisy{
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	margin-bottom: 80px;
	padding: 15px 15px 15px 15px;
}

h2{
	font-size: 80px;
	font-weight: bold;
	text-transform: uppercase;
	padding-bottom: 0px;
}

h3{
	font-size: 38px;
	font-weight: thin;
}

.jmeno{
	font-size: 45px;
	font-weight: bold;
}

.hlavni{
	background-color: black;
	color: white;
}

.datum{
	font-size: 25px;
	font-weight: bold;
	padding: 10px 10px 10px 10px;
}

.footer{
	bottom: 0;
	left: 0;
	right: 0;
	height: 40px;
	background-color: black;
	color: white;
	position: absolute;
	padding: 10px 10px 10px 10px;
}