{block content}
 <div class="container body">
      <div class="main_container">
      {include ../menu.latte}

<!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Kalendář kurzů <small></small></h3>
              </div>

            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Výpis jednotlivých kurzů <small></small></h2>
                    
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <div id='calendar'></div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

      
      </div>

{include ../footer.latte}

    </div>

    <!-- jQuery -->
    <script src="{$basePath}/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="{$basePath}/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="{$basePath}/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="{$basePath}/vendors/nprogress/nprogress.js"></script>
    <!-- FullCalendar -->
    <script src="{$basePath}/vendors/moment/min/moment.min.js"></script>
    <script src="{$basePath}/vendors/fullcalendar/dist/fullcalendar.js"></script>
    <script src="{$basePath}/vendors/fullcalendar/dist/lang/cs.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="{$basePath}/build/js/custom.min.js"></script>

    <!-- FullCalendar -->
    <script>

var $j = jQuery.noConflict();

      jQuery(window).load(function($) {
        var date = new Date(),
            d = date.getDate(),
            m = date.getMonth(),
            y = date.getFullYear(),
            started,
            categoryClass;



        var calendar = $j('#calendar').fullCalendar({
          header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
          },
          selectable: true,
          selectHelper: true,
          select: function(start, end, allDay) {
            $j('#fc_create').click();

            started = start;
            ended = end;

            $j(".antosubmit").on("click", function() {
              var title = $j("#title").val();
              if (end) {
                ended = end;
              }

              categoryClass = $j("#event_type").val();

              if (title) {
                calendar.fullCalendar('renderEvent', {
                    title: title,
                    start: started,
                    end: end,
                    allDay: allDay
                  },
                  true // make the event "stick"
                );
              }

              $j('#title').val('');

              calendar.fullCalendar('unselect');

              $j('.antoclose').click();

              return false;
            });
          },
          eventClick: function(calEvent, jsEvent, view) {
            $j('#fc_edit').click();
            $j('#title2').val(calEvent.title);

            categoryClass = $j("#event_type").val();

            $j(".antosubmit2").on("click", function() {
              calEvent.title = $j("#title2").val();

              calendar.fullCalendar('updateEvent', calEvent);
              $j('.antoclose2').click();
            });

            calendar.fullCalendar('unselect');
          },
          editable: false,
          events: [
{if $user->getIdentity()->role == "Administrátor"}
{foreach $behy as $b}
{
            title: {$b->nazev},
            start: {$b->date_ucasti},
            end: {$b->date_ucasti},
            url: '../hodiny/informace/{$b->beh_beh_id}',
            color: '#23b9d7'
          },
{/foreach}
{else}
{foreach $behy as $b}
{foreach $zapsano as $z}

{if $b->beh_beh_id == $z->beh_beh_id}
{
            title: {$presenter->getNazevKurzu($b->beh_beh_id)->nazev . " - " . $b->nazev},
            start: {$b->date_ucasti},
            end: {$b->date_ucasti},
            url: {$presenter->getUrlKurzu() . $b->beh_beh_id},
            {if $presenter->getCenaKurzu($b->beh_beh_id)->castka < 1000}
            color: '#00e07f'
            {elseif $presenter->getCenaKurzu($b->beh_beh_id)->castka < 2000}
            color: '#a840b7'
            {elseif $presenter->getCenaKurzu($b->beh_beh_id)->castka < 3000}
            color: '#0595dd'
            {elseif $presenter->getCenaKurzu($b->beh_beh_id)->castka < 5000}
            color: '#f5c700'
            {elseif $presenter->getCenaKurzu($b->beh_beh_id)->castka < 10000}
            color: '#f37500'
            {else}
            color: '#f72024'
            {/if}
            
          },
{/if}
{/foreach}
{/foreach}
{/if}
          ]
          
        });
      });
    </script>
    <!-- /FullCalendar -->


{/block}



{block head}
    <link href="{$basePath}/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{$basePath}/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="{$basePath}/vendors/nprogress/nprogress.css" rel="stylesheet">
    <link href="{$basePath}/vendors/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">
    <link href="{$basePath}/vendors/fullcalendar/dist/fullcalendar.print.css" rel="stylesheet" media="print">
    <link href="{$basePath}/build/css/custom.min.css" rel="stylesheet">
{/block}
