{block content}
 <div class="container body">
      <div class="main_container">
      {include ../menu.latte}
        <!-- page content -->
        <div class="right_col" role="main" style="min-height: 923px;">
        <h1 n:block="title">Přidání učebny/lokace</h1>

<div class="row">

                  <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Formulář pro přidání <small>vše si pečlivě zkontrolujte</small></h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br />
                   
                    {form newLokaceForm class=>"form-horizontal form-label-left"}
                      <div class="form-group">
                        {label nazev class=>"control-label col-md-3 col-sm-3 col-xs-12"}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {input nazev}<span class="fa fa-building-o form-control-feedback left" aria-hidden="true"></span>
                        </div>
                      </div>
                      <div class="form-group">
                        {label ulice class=>"control-label col-md-3 col-sm-3 col-xs-12"}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {input ulice}<span class="fa fa-file-text form-control-feedback left" aria-hidden="true"></span>
                        </div>
                      </div>
                      <div class="form-group">
                        {label cislo_popisne class=>"control-label col-md-3 col-sm-3 col-xs-12"}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {input cislo_popisne}<span class="fa fa-file-text form-control-feedback left" aria-hidden="true"></span>
                        </div>
                      </div>
                      <div class="form-group">
                        {label mesto class=>"control-label col-md-3 col-sm-3 col-xs-12"}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {input mesto}<span class="fa fa-file-text form-control-feedback left" aria-hidden="true"></span>
                        </div>
                      </div>
                      <div class="form-group">
                        {label psc class=>"control-label col-md-3 col-sm-3 col-xs-12"}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {input psc}<span class="fa fa-truck form-control-feedback left" aria-hidden="true"></span>
                        </div>
                      </div>
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <button type="reset" class="btn btn-primary">Vymazat</button>
                          {input pridat class=>"btn btn-success"}
                        </div>
                      </div>

                    {/form}
                  </div>
                </div>
              </div>      



</div>
</div>
{include ../footer.latte}
      </div>
    </div>


    <!-- jQuery -->
    <script src="{$basePath}/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="{$basePath}/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="{$basePath}/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="{$basePath}/vendors/nprogress/nprogress.js"></script>
    <!-- iCheck -->
    <script src="{$basePath}/vendors/iCheck/icheck.min.js"></script>
    <!-- Datatables -->
    <script src="{$basePath}/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="{$basePath}/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="{$basePath}/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="{$basePath}/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="{$basePath}/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="{$basePath}/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="{$basePath}/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="{$basePath}/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="{$basePath}/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="{$basePath}/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="{$basePath}/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="{$basePath}/vendors/datatables.net-scroller/js/datatables.scroller.min.js"></script>
    <script src="{$basePath}/vendors/jszip/dist/jszip.min.js"></script>
    <script src="{$basePath}/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="{$basePath}/vendors/pdfmake/build/vfs_fonts.js"></script>

    <!-- jquery.inputmask -->
    <script src="{$basePath}/vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="{$basePath}/build/js/custom.js"></script>

    <!-- Datatables -->
    <script>
      jQuery(document).ready(function( $ ) {
        var handleDataTableButtons = function() {
          if ($("#datatable-buttons").length) {
            $("#datatable-buttons").DataTable({
              dom: "Bfrtip",
              buttons: [
                {
                  extend: "copy",
                  className: "btn-sm"
                },
                {
                  extend: "csv",
                  className: "btn-sm"
                },
                {
                  extend: "excel",
                  className: "btn-sm"
                },
                {
                  extend: "pdfHtml5",
                  className: "btn-sm"
                },
                {
                  extend: "print",
                  className: "btn-sm"
                },
              ],
              responsive: true
            });
          }
        };

        TableManageButtons = function() {
          "use strict";
          return {
            init: function() {
              handleDataTableButtons();
            }
          };
        }();

        $('#datatable').dataTable();

        $('#datatable-keytable').DataTable({
          keys: true
        });

        $('#datatable-responsive').DataTable();

        $('#datatable-scroller').DataTable({
          ajax: "js/datatables/json/scroller-demo.json",
          deferRender: true,
          scrollY: 380,
          scrollCollapse: true,
          scroller: true
        });

        $('#datatable-fixed-header').DataTable({
          fixedHeader: true
        });

        var $datatable = $('#datatable-checkbox');

        $datatable.dataTable({
          'order': [[ 1, 'asc' ]],
          'columnDefs': [
            { orderable: false, targets: [0] }
          ]
        });
        $datatable.on('draw.dt', function() {
          $('input').iCheck({
            checkboxClass: 'icheckbox_flat-green'
          });
        });

        TableManageButtons.init();
      });
    </script>
    <!-- /Datatables -->
    <!-- jquery.inputmask -->
    <script>
      $(document).ready(function() {
        $(":input").inputmask();
      });
    </script>
    <!-- /jquery.inputmask -->
{/block}



{block head}
{include parent}
    <!-- Bootstrap -->
    <link href="{$basePath}/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{$basePath}/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="{$basePath}/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="{$basePath}/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- Datatables -->
    <link href="{$basePath}/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="{$basePath}/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="{$basePath}/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="{$basePath}/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="{$basePath}/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="{$basePath}/build/css/custom.min.css" rel="stylesheet">


{/block}
