{block content}
 <div class="container body">
      <div class="main_container">
      {include ../menu.latte}
        <!-- page content -->
        <div class="right_col" role="main" style="min-height: 923px;">
        <h1 n:block="title">Správa uživatele</h1>

<div class="row">

                  <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Formulář pro správu <small>vše si pečlivě zkontrolujte</small></h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br />
                   
                    {form editUzivatelForm class=>"form-horizontal form-label-left"}
                      <div class="form-group">
                        {label jmeno class=>"control-label col-md-3 col-sm-3 col-xs-12"}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {input jmeno}
                        </div>
                      </div>
                      <div class="form-group">
                        {label prijmeni class=>"control-label col-md-3 col-sm-3 col-xs-12"}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {input prijmeni}
                        </div>
                      </div>
                      <div class="form-group">
                        {label titul_pred class=>"control-label col-md-3 col-sm-3 col-xs-12"}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {input titul_pred}
                        </div>
                      </div>
                      <div class="form-group">
                        {label titul_za class=>"control-label col-md-3 col-sm-3 col-xs-12"}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {input titul_za}
                        </div>
                      </div>
                      <div class="form-group">
                        {label username class=>"control-label col-md-3 col-sm-3 col-xs-12"}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {input username}
                        </div>
                      </div>
                      <div class="form-group">
                        {label password class=>"control-label col-md-3 col-sm-3 col-xs-12"}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {input password}
                        </div>
                      </div>
                      <div class="form-group">
                        {label password2 class=>"control-label col-md-3 col-sm-3 col-xs-12"}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {input password2}
                        </div>
                      </div>
                      <div class="form-group">
                        {label email class=>"control-label col-md-3 col-sm-3 col-xs-12"}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {input email}
                        </div>
                      </div> 

                      <div class="form-group">
                        {label role class=>"control-label col-md-3 col-sm-3 col-xs-12"}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {input role}
                        </div>
                      </div>  
                      <div class="form-group">
                        {label stav_konta class=>"control-label col-md-3 col-sm-3 col-xs-12"}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {input stav_konta}
                        </div>
                      </div> 
                      <div class="form-group">
                        {label image class=>"control-label col-md-3 col-sm-3 col-xs-12"}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {input image}
                        </div>
                      </div>  
                      <div class="form-group">
                        {label aktivni class=>"control-label col-md-3 col-sm-3 col-xs-12"}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {input aktivni}
                        </div>
                      </div> 

{snippet telefon}
          
          {var $form = $control['editUzivatelForm']}
         <br><br>
         <center><h2>Telefony</h2></center>
                {foreach $form['telefony']->getContainers() as $id => $telefon}
                  <div class="form-group">
                    {label telefony-$id-nazev class=>"col-sm-3 control-label" /}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {input telefony-$id-nazev}
                    </div>
                  </div>
                  <div class="form-group">
                    {label telefony-$id-telefon class=>"col-sm-3 control-label" /}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {input telefony-$id-telefon}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-offset-3 col-sm-5">
                      {input telefony-$id-remove}
                      {input telefony-$id-id_telefon}
                    </div>  
                  </div>
                  <br><br>        
                {/foreach}

                <div class="row">
                  <div class="col-sm-offset-3 col-sm-5">
                    {input telefony-add}
                  </div>  
                </div>

          {/snippet}


        {snippet adresa}
          
          {var $form = $control['editUzivatelForm']}
         <br><br>
         <center><h2>Adresy</h2></center>
                {foreach $form['adresy']->getContainers() as $id => $telefon}
                  <div class="form-group">
                    {label adresy-$id-nazev class=>"col-sm-3 control-label" /}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {input adresy-$id-nazev}
                    </div>
                  </div>
                  <div class="form-group">
                    {label adresy-$id-ulice class=>"col-sm-3 control-label" /}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {input adresy-$id-ulice}
                    </div>
                  </div>
                  <div class="form-group">
                    {label adresy-$id-cislo_popisne class=>"col-sm-3 control-label" /}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {input adresy-$id-cislo_popisne}
                    </div>
                  </div>
                  <div class="form-group">
                    {label adresy-$id-mesto class=>"col-sm-3 control-label" /}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {input adresy-$id-mesto}
                    </div>
                  </div> 
                  <div class="form-group">
                    {label adresy-$id-psc class=>"col-sm-3 control-label" /}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {input adresy-$id-psc}
                    </div>
                  </div>                                                     

                  <div class="row">
                    <div class="col-sm-offset-3 col-sm-5">
                      {input adresy-$id-remove}
                      {input adresy-$id-id_ucastnikAdresa}
                    </div>  
                  </div>
                  <br><br>        
                {/foreach}

                <div class="row">
                  <div class="col-sm-offset-3 col-sm-5">
                    {input adresy-add}
                  </div>  
                </div>

          {/snippet}




                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <button type="reset" class="btn btn-primary">Vymazat</button>
                          {input pridat class=>"btn btn-success"}
                        </div>
                      </div>

                    {/form}
                  </div>
                </div>
              </div>      



</div>
</div>
{include ../footer.latte}
      </div>
    </div>


    <!-- jQuery -->
    <script src="{$basePath}/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="{$basePath}/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="{$basePath}/build/js/custom.js"></script>
   
    <script src="{$basePath}/js/ajax/nette.ajax.js"></script>

<script>

  $(function () {
    $.nette.init();
});
</script>

{/block}



{block head}
{include parent}
    <!-- Bootstrap -->
    <link href="{$basePath}/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{$basePath}/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="{$basePath}/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="{$basePath}/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- Datatables -->
    <link href="{$basePath}/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="{$basePath}/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="{$basePath}/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="{$basePath}/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="{$basePath}/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="{$basePath}/build/css/custom.min.css" rel="stylesheet">


{/block}
