{block content}
 <div class="container body">
      <div class="main_container">
      {include ../menu.latte}
        <!-- page content -->
        <div class="right_col" role="main" style="min-height: 923px;">
        <h1 n:block="title">Kurzy</h1>


<div class="row">

              <div class="col-md-12 col-sm-12 col-xs-12">
              <div n:foreach="$flashes as $flash" n:class="flash, $flash->type"><i class="fa fa-info-circle"></i> {$flash->message}</div>
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Výpis neukončených kurzů <small>Nelze smazat započaté kurzy</small></h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <table id="datatable-buttons" class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th>ID Kurzu</th>
                          <th>Název kurzu</th>
                          <th>ROK</th>
                          <th>Semestr</th>
                          <th>Termín</th>
                          <th>Částka</th>
                          <th>Počet míst</th>
                          <th>Úpravy</th>
                        </tr>
                      </thead>
                      <tbody>
                       
                      {foreach $behy as $b}
                        <tr>
                          <td>{$b->beh_id}</td>
                          <td>{$b->nazev}</td>                          
                          <td>{$b->rok}</td>
                          <td>{$b->semestr}</td>
                          <td>{$presenter->getDateFormat($b->zacatek_kurzu)} - {$presenter->getDateFormat($b->konec_kurzu)}</td>
                          <td>{$b->castka},- Kč</td>
                          <td>{$b->pocet_mist}</td>
                          <td><a n:href="Beh:upravit $b->beh_id" class="btn btn-success btn-xs">Upravit</a> | <a n:href="smazatBeh! $b->beh_id" class="btn btn-danger btn-xs">Smazat</a></td>
                        </tr>
                        {/foreach}
                       
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>


</div>
</div>
{include ../footer.latte}
      </div>
    </div>


    <!-- jQuery -->
    <script src="{$basePath}/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="{$basePath}/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="{$basePath}/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="{$basePath}/vendors/nprogress/nprogress.js"></script>
    <!-- iCheck -->
    <script src="{$basePath}/vendors/iCheck/icheck.min.js"></script>
    <!-- Datatables -->
    <script src="{$basePath}/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="{$basePath}/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="{$basePath}/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="{$basePath}/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="{$basePath}/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="{$basePath}/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="{$basePath}/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="{$basePath}/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="{$basePath}/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="{$basePath}/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="{$basePath}/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="{$basePath}/vendors/datatables.net-scroller/js/datatables.scroller.min.js"></script>
    <script src="{$basePath}/vendors/jszip/dist/jszip.min.js"></script>
    <script src="{$basePath}/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="{$basePath}/vendors/pdfmake/build/vfs_fonts.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="{$basePath}/build/js/custom.js"></script>

    <!-- Datatables -->
    <script>
      jQuery(document).ready(function( $ ) {
        var handleDataTableButtons = function() {
          if ($("#datatable-buttons").length) {
            $("#datatable-buttons").DataTable({
              dom: "Bfrtip",
              buttons: [
                {
                  extend: "copy",
                  className: "btn-sm"
                },
                {
                  extend: "csv",
                  className: "btn-sm"
                },
                {
                  extend: "excel",
                  className: "btn-sm"
                },
                {
                  extend: "pdfHtml5",
                  className: "btn-sm"
                },
                {
                  extend: "print",
                  className: "btn-sm"
                },
              ],
                  "bLengthChange": false,
        "language": {
            "zeroRecords": "Nic nebylo nalezeno - Omlouváme se",
            "info": "Stránka _PAGE_ z _PAGES_",
            "infoEmpty": "Zatím nic nebylo přidáno",
            "search":         "Vyhledávání:",
                    "paginate": {
                      "first":      "První",
                      "last":       "Poslední",
                      "next":       "Další",
                      "previous":   "Předchozí"
                  },
            "infoFiltered": "(filtered from _MAX_ total records)"
              },
              "columnDefs": [
                  { "orderable": false, "targets": 7 }
              ],
              responsive: true
            });
          }
        };

        TableManageButtons = function() {
          "use strict";
          return {
            init: function() {
              handleDataTableButtons();
            }
          };
        }();

        $('#datatable').dataTable();

        $('#datatable-keytable').DataTable({
          keys: true
        });

        $('#datatable-responsive').DataTable();

        $('#datatable-scroller').DataTable({
          ajax: "js/datatables/json/scroller-demo.json",
          deferRender: true,
          scrollY: 380,
          scrollCollapse: true,
          scroller: true
        });

        $('#datatable-fixed-header').DataTable({
          fixedHeader: true
        });

        var $datatable = $('#datatable-checkbox');

        $datatable.dataTable({
          'order': [[ 1, 'asc' ]],
          'columnDefs': [
            { orderable: false, targets: [0] }
          ]
        });
        $datatable.on('draw.dt', function() {
          $('input').iCheck({
            checkboxClass: 'icheckbox_flat-green'
          });
        });

        TableManageButtons.init();
      });
    </script>
    <!-- /Datatables -->

{/block}



{block head}
{include parent}
    <!-- Bootstrap -->
    <link href="{$basePath}/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{$basePath}/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="{$basePath}/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="{$basePath}/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- Datatables -->
    <link href="{$basePath}/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="{$basePath}/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="{$basePath}/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="{$basePath}/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="{$basePath}/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="{$basePath}/build/css/custom.min.css" rel="stylesheet">


{/block}
