{block content}
 <div class="container body">
      <div class="main_container">
      {include ../menu.latte}
        <!-- page content -->
        <div class="right_col" role="main">
        <h1 n:block="title">Spouštěí kurzu kurzu</h1>

<div class="row">

                  <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Formulář pro vytvoření kurzu <small>vše si pečlivě zkontrolujte</small></h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br />

                   
                    {form newBehForm class=>"form-horizontal form-label-left"}
                      <div class="form-group">
                        {label kurz_id_kurz class=>"control-label col-md-3 col-sm-3 col-xs-12"}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {input kurz_id_kurz}
                        </div>
                      </div>

                       <div class="form-group">
                        {label rok class=>"control-label col-md-3 col-sm-3 col-xs-12"}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {input rok}<span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                        </div>
                      </div>

                      <div class="form-group">
                        {label semestr class=>"control-label col-md-3 col-sm-3 col-xs-12"}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {input semestr}
                        </div>
                      </div>

                      <div class="form-group">
                        {label pocet_mist class=>"control-label col-md-3 col-sm-3 col-xs-12"}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {input pocet_mist}<span class="fa fa-users form-control-feedback left" aria-hidden="true"></span>
                        </div>
                      </div>

                      <div class="form-group">
                        {label castka class=>"control-label col-md-3 col-sm-3 col-xs-12"}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {input castka}<span class="fa fa-money form-control-feedback left" aria-hidden="true"></span>
                        </div>
                      </div>

                      <div class="form-group">
                        {label zacatek_kurzu class=>"control-label col-md-3 col-sm-3 col-xs-12 datepicker"}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {input zacatek_kurzu}<span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span><span id="inputSuccess2Status" class="sr-only">(success)</span>
                        </div>
                      </div>

                      <div class="form-group">
                        {label konec_kurzu class=>"control-label col-md-3 col-sm-3 col-xs-12"}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {input konec_kurzu}<span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span><span id="inputSuccess2Status" class="sr-only">(success)</span>
                        </div>
                      </div>

{snippet behLektori}
          
          {var $form = $control['newBehForm']}
         <center><h2>Lektoři</h2></center>
                {foreach $form['behLektor']->getContainers() as $id => $lektor}
                  <div class="form-group">
                    {label behLektor-$id-uzivatel_id_ucastnik class=>"col-sm-3 control-label" /}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {input behLektor-$id-uzivatel_id_ucastnik}
                    </div>
                  </div>                                       
                  <div class="row">
                    <div class="col-sm-offset-3 col-sm-5">
                      {input behLektor-$id-remove}
                    </div>  
                  </div>
                  <br><br>        
                {/foreach}

                <div class="row">
                  <div class="col-sm-offset-3 col-sm-5">
                    {input behLektor-add}
                  </div>  
                </div>

          {/snippet}

                      <div class="form-group">
                        {label termin class=>"control-label col-md-3 col-sm-3 col-xs-12"}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {input termin}
                        </div>
                      </div>
        



<div id="terminyUrcite" style="display: none;">
        {snippet terminyUrcite}
          
          {var $form = $control['newBehForm']}
         <br><br>
         <center><h2>Termíny určité</h2></center>
                {foreach $form['terminyUrcity']->getContainers() as $id => $termin}
                  <div class="form-group">
                    {label terminyUrcity-$id-nazev class=>"col-sm-3 control-label" /}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {input terminyUrcity-$id-nazev}
                    </div>
                  </div>
                  <div class="form-group">
                    {label terminyUrcity-$id-lokace_id_lokace class=>"col-sm-3 control-label" /}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {input terminyUrcity-$id-lokace_id_lokace}
                    </div>
                  </div>
                  <div class="form-group">
                    {label terminyUrcity-$id-date_ucasti class=>"col-sm-3 control-label" /}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {input terminyUrcity-$id-date_ucasti}<span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span><span id="inputSuccess2Status" class="sr-only">(success)</span>
                    </div>
                  </div>                                                    

                  <div class="row">
                    <div class="col-sm-offset-3 col-sm-5">
                      {input terminyUrcity-$id-remove}
                    </div>  
                  </div>
                  <br><br>        
                {/foreach}

                <div class="row">
                  <div class="col-sm-offset-3 col-sm-5">
                    {input terminyUrcity-add}
                  </div>  
                </div>

          {/snippet}
</div>



<div id="terminyPravidelne" style="display: none;">
        {snippet terminyPravidelne}
          
          {var $form = $control['newBehForm']}
         <br><br>
         <center><h2>Termíny pravidelné</h2></center>
                {foreach $form['terminyPravidelny']->getContainers() as $id => $termin}
                  <div class="form-group">
                    {label terminyPravidelny-$id-nazev class=>"col-sm-3 control-label" /}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {input terminyPravidelny-$id-nazev}
                    </div>
                  </div>
                  <div class="form-group">
                    {label terminyPravidelny-$id-lokace_id_lokace class=>"col-sm-3 control-label" /}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {input terminyPravidelny-$id-lokace_id_lokace}
                    </div>
                  </div>
                  <div class="form-group">
                    {label terminyPravidelny-$id-datumTyden class=>"col-sm-3 control-label" /}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {input terminyPravidelny-$id-datumTyden}
                    </div>
                  </div> 
                  <div class="form-group">
                    {label terminyPravidelny-$id-oprakovaniTyden class=>"col-sm-3 control-label" /}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {input terminyPravidelny-$id-oprakovaniTyden}
                    </div>
                  </div>
                  <div class="form-group">
                    {label terminyPravidelny-$id-cas class=>"col-sm-3 control-label" /}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {input terminyPravidelny-$id-cas}<span class="fa fa-clock-o form-control-feedback left" aria-hidden="true"></span>
                    </div>
                  </div>



                  <div class="row">
                    <div class="col-sm-offset-3 col-sm-5">
                      {input terminyPravidelny-$id-remove}
                    </div>  
                  </div>
                  <br><br>        
                {/foreach}

                <div class="row">
                  <div class="col-sm-offset-3 col-sm-5">
                    {input terminyPravidelny-add}
                  </div>  
                </div>

          {/snippet}
</div>




                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <button type="reset" class="btn btn-primary">Vymazat</button>
                          {input pridat class=>"btn btn-success"}
                        </div>
                      </div>

                    {/form}
                  </div>
                </div>
              </div>      



</div>
</div>
{include ../footer.latte}
      </div>
    </div>


    <!-- jQuery -->
    <script src="{$basePath}/vendors/jquery/dist/jquery.min.js"></script>
    
    <!-- Bootstrap -->
    <script src="{$basePath}/vendors/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="{$basePath}/js/bootstrap-datepicker.js"></script>
   
    <script src="{$basePath}/js/ajax/nette.ajax.js"></script>


    <script src="{$basePath}/vendors/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- bootstrap-daterangepicker -->
    <script src="{$basePath}/vendors/moment/min/moment.min.js"></script>
    <script src="{$basePath}/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

    <!-- jquery.inputmask -->
    <script src="{$basePath}/vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>


    <!-- Custom Theme Scripts -->
    <script src="{$basePath}/build/js/custom.min.js"></script>




<script>

  $(function () {
    $.nette.init();

});


</script> 

<script src="{$basePath}/js/netteFormsFestik.js"></script>

{snippet scriptyDatePicker}
    <script>
      $(document).ready(function() {
        $('.datumcisty').daterangepicker({
          singleDatePicker: true,
          singleClasses: "datum",
          locale: {
            format: 'YYYY-MM-DD'
          }
        }, function(start, end, label) {
          console.log(start.toISOString(), end.toISOString(), label);
        });
      });
    </script> 


    <script>
      $(document).ready(function() {
        $('.datumcas').daterangepicker({
          singleDatePicker: true,
          singleClasses: "datumcas",
          timePicker: true,
          timePicker24Hour: true,
          locale: {
            format: 'YYYY-MM-DD HH:mm'
          }
        }, function(start, end, label) {
          console.log(start.toISOString(), end.toISOString(), label);
        });
      });
    </script> 

    <script>
      $(document).ready(function() {
        $('.cascisty').daterangepicker({
          singleDatePicker: true,
          singleClasses: "cascisty",
          timePicker: true,
          timePicker24Hour: true,
          linkedCalendars: false,
          grid: false,
          locale: {
            format: 'HH:mm'
          }
        }, function(start, end, label) {
          console.log(start.toISOString(), end.toISOString(), label);
        });
      });
    </script> 
    <!-- jquery.inputmask -->
    <script>
      $(document).ready(function() {
        $(":input").inputmask();
      });
    </script>
    <!-- /jquery.inputmask -->


{/snippet}





{/block}



{block head}
{include parent}
    <!-- Bootstrap -->
    <link href="{$basePath}/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{$basePath}/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="{$basePath}/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="{$basePath}/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- Datatables -->
    <link href="{$basePath}/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="{$basePath}/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="{$basePath}/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="{$basePath}/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="{$basePath}/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="{$basePath}/build/css/custom.min.css" rel="stylesheet">

    <script src="{$basePath}/ckeditor/ckeditor.js"></script>

    <link href="{$basePath}/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

{/block}
