{block head}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{$basePath}/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{$basePath}/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="{$basePath}/vendors/nprogress/nprogress.css" rel="stylesheet">
    <link href="{$basePath}/vendors/animate.css/animate.min.css" rel="stylesheet">
    <link href="{$basePath}/build/css/custom.css" rel="stylesheet">
{/block}

{block content}
 <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper">
       
        <div class="animate form login_form">
          <center><img src="{$basePath}/images/osu-logo-modre.png" width="50%"></center>
          <section class="login_content">
          
            {form signInForm}



              <h1>Přihlašovací Formulář</h1>
<div n:foreach="$flashes as $flash" n:class="flash, $flash->type"><i class="fa fa-info-circle"></i> {$flash->message}</div>
<div n:foreach="$form->errors as $error" class="alert alert-danger"><i class="fa fa-info-circle"></i> {$error}</div>

              <div>
               {input username}
              </div>
              <div>
               {input password}
              </div>
              <div>
                {input send}
                {input remember}
              </div>


              <div class="clearfix"></div>

              <div class="separator">
                <p class="change_link">Jste zde nový ?
                  <a href="#signup" class="to_register"> Registrujte se </a>
                </p>

                <div class="clearfix"></div>
                <br />

                <div> 
                  <p>©2017 Všechna práva vyhrazena Ostravské univerzitě</p>
                </div>
              </div>

            {/form}
          </section>


        </div>

        <div id="register" class="animate form registration_form">
        <center><img src="{$basePath}/images/osu-logo-modre.png" width="50%"></center>
          <section class="login_content">
            {form signUpForm}
            
              <h1>Registrační Formulář</h1>
              <div>
               {input username}
              </div>
              <br>
              <div>
               {input jmeno}
              </div>
              <div>
               {input prijmeni}
              </div>
              <br>
              <div>
               {input email}
              </div>
              <div>
               {input password}
              </div>
              <div>
                {input send}
                
              </div>


              <div class="clearfix"></div>

              <div class="separator">
                <p class="change_link">Už jste registrován ?
                  <a href="#signin" class="to_register"> Přihlašte se </a>
                </p>

                <div class="clearfix"></div>
                <br />

                <div> 
                  <p>©2017 Všechna práva vyhrazena Ostravské univerzitě</p>
                </div>
              </div>

            {/form}
          </section>
        </div>
      </div>
    </div>
{/block}
       



{* OR
{import '../components/form.latte'}
{include form signInForm}
*}

<p><a n:href="up">Don't have an account yet? Sign up.</a></p>
