{block content}

<div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper">
        <div class="animate form login_form">
          <center><img src="{$basePath}/images/osu-logo-modre.png" width="50%"></center>
          <section class="login_content">
         <h2 n:block="title">Byl jste úspěšně odhlášen</h2>
         <p>Za okamžik budete přesměrování na přihlašovací stránku...</p>
         <meta http-equiv="refresh" content="1;url={$basePath}/login">
          </section>
        </div>

      </div>
    </div>
{/block}


{block head}
<link href="{$basePath}/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{$basePath}/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="{$basePath}/vendors/nprogress/nprogress.css" rel="stylesheet">
    <link href="{$basePath}/vendors/animate.css/animate.min.css" rel="stylesheet">
    <link href="{$basePath}/build/css/custom.css" rel="stylesheet">
{/block}